.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.directory_menu {
  border: 1px solid #D3BBDD;
  padding: 5px;
  margin-top: 10px;
  background-color: #EFE7D3;
  text-align: center;
}

.directory_menu button {
  padding: 10px;
  font-weight: 900;
  box-shadow: 0 0 20px #202927;
}

.directory_menu button:hover {
  background-color: #D3BBDD;
}

.grid .information div {
  background-color: #EFE7D3;
  box-shadow: 0 0 20px #F8C0C8;
  padding: 15px;
  border: 1px solid #F8C0C8;
}

.list .information div {
  border-bottom: 1px solid #F8C0C8;
  ;
  padding: 15px;
  font-size: 13px;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid .information {
  flex-direction: column;
  text-align: center;
}

.grid .information>* {
  margin: 5px;
}

.list {
  display: flex;
  flex-direction: column;
}


.list .information img,
.list .information .courses_details,
.list .information .web_courses {
  display: none;
}

.list .information div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}